@model SN_WebMVC.Models.ProjetoOutputModel

@{
    ViewBag.Title = "Projeto";
    var azure = "https://gabrielcouto26.blob.core.windows.net/api-amigo-fotos/";
}
<div class="wa-container">
    <h2 style="padding: 0 20px;">@Html.DisplayFor(model => model.Titulo)</h2>
    <div style="display:flex;flex-direction:row;justify-content:space-around;width:100%;margin-top:50px;">
        <div style="display:flex;flex-direction:column;justify-content:space-around;width:80%;">
            <div style="display:flex;flex-direction:row;justify-content:space-between;">
                <div style="display:flex;flex-direction:column;margin: 0 50px;">
                    <div style="display:flex;flex-direction:column;justify-content:flex-start;">
                        <h4>@Html.DisplayFor(model => model.Descricao)</h4>
                        <h4>
                            @Html.DisplayFor(model => model.DataCriacao.Day) /
                            @Html.DisplayFor(model => model.DataCriacao.Month) /
                            @Html.DisplayFor(model => model.DataCriacao.Year)
                        </h4>
                    </div>
                    <div style="margin:50px 0 0 0;">
                        <form action="/Project/Home" method="post" enctype="multipart/form-data" style="margin: 5px 0;">
                            <input type="text" name="Mensagem" placeholder="Comentários" />
                            <button type="submit" class="btn btn-default">Publicar</button>
                            <input type="file" accept=".pdf" name="Arquivo" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="wa-publicacoes-projeto">
                <h3>Publicações</h3>
                @foreach(var post in Model.Posts) {
                    <div style="border-bottom: 2px solid #ededed;margin-top:10px;padding: 0 10px;">
                        <div class="wa-publi-info">
                            <h4>@post.Autor</h4>
                            <p style="margin-left:20px;">@post.DataDePublicacao</p>
                        </div>
                        <div class="wa-publi-conteudo">
                            <p>@post.Mensagem</p>
                        </div>
                        @if(post.UrlDocumento != null)
                        {
                            <div class="wa-publi-documento">
                                <a href="@post.UrlDocumento">C de Clica aqui Carlos Cabaço</a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div style="width:20%;display:flex;flex-direction:column;align-items:center;border-left:2px solid #ededed;padding:0 30px;">
            <div style="display:flex;flex-direction:column;justify-content:flex-start;">
                <h3>Membros</h3>
                <div style="padding:0 10px;">
                    @foreach (var membro in Model.Membros)
                    {
                        <p style="margin-bottom: 0 !important;">@membro.Nome</p>
                        <p>@membro.Email</p>
                    }
                </div>
            </div>
            <div style="display:flex;flex-direction:column;justify-content:flex-start;">
                <h3>Documentos</h3>
                @*<div style="padding:0 10px;">
                    @foreach(var documento in Model.Documentos) {
                        <p>@documento</p>
                    }
                </div>*@
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-top:40px;">
        <a href="/Home/Index" class="btn btn-link">Retornar</a>
    </div>
</div>