﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Work Academics</title>

    <link rel="stylesheet" type="text/css" href="/Content/styles/global.css" media="screen" />
    <link rel="shortcut icon" href="/Content/images/Logo_favicon.ico" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="wa-nav-container container">

            <div class="navbar-header">
                @if (ViewBag.Title != "Login" && ViewBag.Title != "Cadastrar")
                {
                    <a href="/Home/Index">
                        <img src="/Content/images/logo1_6.jpg" alt="logo" class="wa-logo-header" />
                    </a>
                }
                else
                {
                    <img src="/Content/images/logo1_6.jpg" alt="logo" class="wa-logo-header" />
                }
            </div>

            <button class="btn navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">Menu</span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav"></ul>
                @if(ViewBag.Title != "Login" && ViewBag.Title != "Cadastrar") {

                    <form action="/Account/Logout" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-default navbar-btn navbar-right" style="margin-right:20px;">Logout</button>
                    </form>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @*<footer>
            <img src="/Content/images/wa-logo-inline-azul.jpeg" alt="logo" class="wa-logo-footer" />
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
