﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Work Academics</title>

    <link rel="stylesheet" type="text/css" href="/Content/styles/global.css" media="screen" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/Content/images/Logo_favicon.ico" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="wa-nav-container">

            <div class="navbar-header">
                @if (ViewBag.Title != "Login" && ViewBag.Title != "Cadastrar")
                {
                    <a href="/Home/Index">
                        <img src="/Content/images/logo1_6.jpg" alt="logo" class="wa-logo-header" />
                    </a>
                }
                else
                {
                    <img src="/Content/images/logo1_6.jpg" alt="logo" class="wa-logo-header" />
                }
            </div>

            @if (ViewBag.Title != "Login" && ViewBag.Title != "Cadastrar")
            {
                <div class="wa-nav-botoes">
                    <div>
                        <button class="btn" id="btn-nightmode">
                            <i class="material-icons">brightness_2</i>
                        </button>
                        <button class="btn btn-nightmode-none" id="btn-lightmode">
                            <i class="material-icons md-light">wb_sunny</i>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form action="/Account/Logout" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-default navbar-btn navbar-right" style="margin:0 30px;">
                                Logout
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>

    @if (ViewBag.Title != "Login" && ViewBag.Title != "Cadastrar")
    {
        <div id="wa-sidebar-id" class="wa-sidebar wa-sidebar-pequeno">

            <div class="text-center" style="margin-top: 20px;">
                <button id="btn-resize-diminui" class="btn wa-resize-btn-none">
                    <i class="material-icons">skip_previous</i>
                </button>
                <button id="btn-resize-cresce" class="btn">
                    <i class="material-icons">skip_next</i>
                </button>
            </div>

            @if (Session["picture_profile"] != null)
            {
                var url = Session["picture_profile"];
                <a href="/Home/Perfil">
                    <img src=@url alt="profile" class="wa-profile-pic wa-profile-pic-pequeno" title="Perfil" />
                </a>
            }
            else
            {
                <a href="/Home/Perfil">
                    <img src="\Content\images\default-profile-pic.png" alt="default-picture" title="Perfil" class="wa-profile-pic wa-profile-pic-pequeno" />
                </a>
            }

            <form action="/Home/Perfil" method="get" class="text-center wa-perfil-btn wa-perfil-btn-none">
                <button type="submit" class="btn btn-default">Ver perfil</button>
            </form>

            <hr class="wa-hr wa-hr-pequeno" />
            <ul class="nav nav-stacked text-center wa-sidebar-list-texto wa-sidebar-list-none">

                <li class="nav-item">
                    <a href="/Home/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/Laboratory/Index">Meus laboratórios</a>
                </li>
                <li class="nav-item">
                    <a href="/Project/Index">Meus projetos</a>
                </li>
                <li class="nav-item">
                    <a href="#">Conexões</a>
                </li>
                <li class="nav-item">
                    <a href="/Galery/Index">Galeria</a>
                </li>

            </ul>

            <ul class="nav nav-stacked text-center wa-sidebar-list-icones">

                <li class="nav-item">
                    <a href="/Home/Index" title="Home"><i class="material-icons">home</i></a>
                </li>
                <li class="nav-item">
                    <a href="/Laboratory/Index" title="Meus laboratórios"><i class="material-icons">storage</i></a>
                </li>
                <li class="nav-item">
                    <a href="/Project/Index" title="Meus projetos"><i class="material-icons">file_copy</i></a>
                </li>
                <li class="nav-item">
                    <a href="#Conexoes" title="Conexões"><i class="material-icons">people</i></a>
                </li>
                <li class="nav-item">
                    <a href="/Galery/Index" title="Galeria"><i class="material-icons">photo_library</i></a>
                </li>

            </ul>

            <hr class="wa-hr wa-hr-pequeno" />
            <div class="text-center">
                <img src="~/Content/images/Logo1_5.png" id="mini-logo-sidebar" class="wa-mini-logo-pequeno" alt="Logo" />
            </div>

        </div>
    }

    <div class="container body-content wa-body-content-margin6">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/SideBar.js"></script>
    <script src="~/Scripts/Nightmode.js"></script>
</body>
</html>
