@model SN_WebMVC.Models.ProfileViewModel
<link rel="stylesheet" type="text/css" href="../Content/styles/global.css" media="screen" />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wa-sidebar">
        <ul class="nav flex-sm-column">
            <li class="nav-item">
                @Html.DisplayNameFor(model => model.Nome)
                @Html.DisplayFor(model => model.Nome)
            </li>
            <li class="nav-item">
                Email
                @Html.DisplayFor(model => model.Email)
            </li>
            <li class="nav-item">
                Universidade
                @Html.DisplayFor(model => model.Universidade)
            </li>
            <li class="nav-item">
                Curso
                @Html.DisplayFor(model => model.CursoEmAndamento)
            </li>
        </ul>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
