@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Busca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wa-container">

    <h2>Perfil</h2>

    <div style="display:flex;flex-direction:row;justify-content:space-between;align-items:center;">

        <div  style="display:flex;flex-direction:column;margin:40px 20px 40px 0">
            <img src="\Content\images\default-profile-pic.png" alt="Foto" style="width:150px;height:150px;margin-bottom:15px;" />
            <input type="submit" value="Seguir" class="btn btn-default" />
        </div>

        <ul class="wa-list" style="margin:40px;">

            <li class="wa-perfil-label">
                @Html.DisplayNameFor(model => model.Nome)
            </li>

            <li class="wa-perfil-info">
                @Html.DisplayFor(model => model.Nome)
            </li>

            <li class="wa-perfil-label">
                @Html.DisplayNameFor(model => model.Email)
            </li>

            <li class="wa-perfil-info">
                @Html.DisplayFor(model => model.Email)
            </li>

            <li class="wa-perfil-label">
                Data de nascimento
            </li>

            <li class="wa-perfil-info">
                @Html.DisplayFor(model => model.Nascimento)
            </li>
        </ul>

        <ul class="wa-list" style="margin:40px;">

            <li class="wa-perfil-label">
                @Html.DisplayNameFor(model => model.Universidade)
            </li>

            <li class="wa-perfil-info">
                @Html.DisplayFor(model => model.Universidade)
            </li>

            <li class="wa-perfil-label">
                @Html.DisplayNameFor(model => model.Curso)
            </li>

            <li class="wa-perfil-info">
                @Html.DisplayFor(model => model.Curso)
            </li>

            <li class="wa-perfil-label">
                Data de entrada
            </li>

            <li class="wa-perfil-info">
                @Html.DisplayFor(model => model.DataInicio)
            </li>

            <li class="wa-perfil-label">
                @Html.DisplayNameFor(model => model.Biografia)
            </li>

            <li class="wa-perfil-info">
                @Html.DisplayFor(model => model.Biografia)
            </li>
        </ul>

    </div>

    <div>
        <a href="/Home/Index" class="btn btn-link">Retornar</a>
    </div>
</div>
