@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Busca";
    Html.RenderPartial("_SideBar");
}

<div class="wa-container">

    <h2>@Html.DisplayFor(model => model.Nome)</h2>
    <div style="display:flex;flex-direction:row;justify-content:flex-start;">

        <div style="display:flex;flex-direction:column;justify-content:flex-start;margin:30px 50px 30px 0;">
            <form action="/Search/Seguir" method="post">
                <input type="submit" value="Seguir" class="btn btn-default" />
            </form>
            <img src="@Html.DisplayFor(model => model.Foto)" alt="Foto" style="width:150px;height:150px;margin:30px 0;" />
        </div>
        <div style="margin: 10px 30px;padding: 0 50px;border-right: 2px solid #ededed;border-left:2px solid #ededed;">
            <h3>Informações pessoais</h3>
            <ul class="wa-list" style="margin:20px 0;">

                <li class="wa-perfil-label">
                    @Html.DisplayNameFor(model => model.Nome)
                </li>

                <li class="wa-perfil-info">
                    @Html.DisplayFor(model => model.Nome)
                </li>

                <li class="wa-perfil-label">
                    @Html.DisplayNameFor(model => model.Email)
                </li>

                <li class="wa-perfil-info">
                    @Html.DisplayFor(model => model.Email)
                </li>

                <li class="wa-perfil-label">
                    Data de nascimento
                </li>

                <li class="wa-perfil-info">
                    @Html.DisplayFor(model => model.Nascimento)
                </li>

                <li class="wa-perfil-label">
                    @Html.DisplayNameFor(model => model.Biografia)
                </li>

                <li class="wa-perfil-info">
                    @Html.DisplayFor(model => model.Biografia)
                </li>

            </ul>
        </div>

        <div style="margin: 10px 30px;">
            <h3>Informações acadêmicas</h3>
            <ul class="wa-list" style="margin:20px 0;">

                <li class="wa-perfil-label">
                    @Html.DisplayNameFor(model => model.Universidade)
                </li>

                <li class="wa-perfil-info">
                    @Html.DisplayFor(model => model.Universidade)
                </li>

                <li class="wa-perfil-label">
                    @Html.DisplayNameFor(model => model.Curso)
                </li>

                <li class="wa-perfil-info">
                    @Html.DisplayFor(model => model.Curso)
                </li>

                <li class="wa-perfil-label">
                    Data de entrada
                </li>

                <li class="wa-perfil-info">
                    @Html.DisplayFor(model => model.DataInicio)
                </li>

            </ul>
        </div>

    </div>

    <div>
        <a href="/Home/Index" class="btn btn-link">Retornar</a>
    </div>
</div>
