<link rel="stylesheet" type="text/css" href="../Content/styles/global.css" media="screen" />
@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="wa-sidebar">
    <ul class="nav flex-sm-column">
        <li class="nav-item">
            @Html.DisplayNameFor(model => model.Nome)
            @Html.DisplayFor(model => model.Nome)
        </li>
        <li class="nav-item">
            Email
            @Html.DisplayFor(model => model.Email)
        </li>
        <li class="nav-item">
            Universidade
            @Html.DisplayFor(model => model.Universidade)
        </li>
        <li class="nav-item">
            Curso
            @Html.DisplayFor(model => model.CursoEmAndamento)
        </li>
    </ul>

    @*<ul class="wa-list">
        <li>
            @Html.DisplayNameFor(model => model.Nome)
        </li>

        <li>
            @Html.DisplayFor(model => model.Nome)
        </li>

        <li>
            @Html.DisplayNameFor(model => model.Email)
        </li>

        <li>
            @Html.DisplayFor(model => model.Email)
        </li>

        <li>
            @Html.DisplayNameFor(model => model.Universidade)
        </li>

        <li>
            @Html.DisplayFor(model => model.Universidade)
        </li>

        <li>
            @Html.DisplayNameFor(model => model.CursoEmAndamento)
        </li>

        <li>
            @Html.DisplayFor(model => model.CursoEmAndamento)
        </li>

    </ul>*@
</div>
<button class="btn btn-link">
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })
</button>
