@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Perfil";

}
<div >

    <h2>Perfil</h2>

    <hr />
    <dl style="display:flex;flex-direction:column;">

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Universidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Universidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biografia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biografia)
        </dd>

    </dl>
</div>
<div style="display:flex;flex-direction:row;">
    <button class="btn btn-default">@Html.ActionLink("Editar perfil", "Edit", new { /* id = Model.PrimaryKey */ })</button>
    <button class="btn btn-link">@Html.ActionLink("Voltar", "Index")</button>
</div>
