@model SN_WebMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Perfil";
    Html.RenderPartial("_SideBar");
}
<div class="wa-container">

    <h2>Perfil</h2>
    <hr />

    <ul class="wa-list">
        <li style="display:flex;flex-direction:column;margin-bottom:30px;">
            @*if(model != null)*@
            <img src=@Html.DisplayFor(model => model.Foto) alt="default-picture" style="width:150px;height:150px;margin-bottom:10px;" />
        </li>

        <li class="wa-perfil-label">
            Nome
        </li>

        <li class="wa-perfil-info">
            @Html.DisplayFor(model => model.Nome)
        </li>

        <li class="wa-perfil-label">
            Email
        </li>

        <li class="wa-perfil-info">
            @Html.DisplayFor(model => model.Email)
        </li>

        <li class="wa-perfil-label">
            Universidade
        </li>

        <li class="wa-perfil-info">
            @Html.DisplayFor(model => model.Universidade)
        </li>

        <li class="wa-perfil-label">
            Curso
        </li>

        <li class="wa-perfil-info">
            @Html.DisplayFor(model => model.Curso)
        </li>

        <li class="wa-perfil-label">
            Biografia
        </li>

        <li class="wa-perfil-info">
            @Html.DisplayFor(model => model.Biografia)
        </li>

        <div style="display:flex;flex-direction:row;margin:40px 0;">
            <form action="/Home/Edit" method="get">
                <button class="btn btn-primary">Editar perfil</button>
            </form>
            <button class="btn btn-link" style="margin-bottom:1em;">@Html.ActionLink("Voltar", "Index")</button>
        </div>
    </ul>
    
</div>

